.info {
  display: flex;
  justify-content: space-around;
}
.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}
.photo-card img {
  display: block;
}
.gallery a {
  color: white;
  text-decoration: none;
  transition: transform 0.25s linear, box-shadow 0.25s linear;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.12), 0 4px 4px rgba(255, 255, 255, 0.06), 1px 4px 6px rgba(255, 255, 255, 0.16);
}

.gallery a:hover {
  transform: scale(1.03);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15), 0 4px 8px rgba(255, 255, 255, 0.12), 1px 4px 8px rgba(255, 255, 255, 0.2);
}
